* {
  margin: 0;
}

#color-palette {
  height: 100px;
  display: flex;
  justify-content: center;
}

.color {
  display: inline-block;
  width: 10%;
  border: 1px solid black;
}

#pixel-board {
  width: 400px;
  height: 400px;
  padding: 20px;
  margin: auto;
  margin-left: 40%;
}

.pixel {
  display: inline-table;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
}

#clear-board {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 100px;
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(to bottom, blue, red, yellow, green);
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0.1em 0.1em 0.9em white;
}

label {
  background-image: linear-gradient(to bottom, blue, red, yellow, green);
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0.1em 0.1em 0.9em white;
}

body {
  background-image: url('backgroundImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

div #boardSizeButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
