/* stylelint-disable comment-empty-line-before */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable no-missing-end-of-source-newline */
* {
  margin: 0;
}

#color-palette {
  height: 50px;
  width: 550px;
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(to bottom, blue, red, yellow, green);
  color: white;
  opacity: 0.95;
  padding: 10px;
  margin: 5px 350px;
  border-radius: 10px;
}

.color {
  display: inline-block;
  width: 10%;
  border: 1px solid black;
}

#pixel-board {
  width: 500px;
  height: 500px;
  max-width: 500px;
  max-height: 500px;
  padding: 20px;
  margin: auto;
}

.pixel {
  display: inline-table;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
}

#clear-board {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 100px;
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(to bottom, blue, red, yellow, green);
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
}

label {
  font-size: 25px;
  background-image: linear-gradient(to bottom, blue, red, yellow, green);
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-image: url('leao.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  display: flex;
  flex-direction: column;
}

#label {
  display: flex;
  justify-content: center;
}

#input-button {
  display: flex;
  justify-content: center;
}

#black {
  display: flex;
  border-radius: 50%;
}

#random1 {
  display: flex;
  border-radius: 50%;
}

#random2 {
  display: flex;
  border-radius: 50%;
}

#random3 {
  display: flex;
  border-radius: 50%;
}

button {
  background-image: linear-gradient(to bottom, blue, red, yellow, green);
  color: black;
  opacity: 0.95;
  border-radius: 10px;
}

input {
  background-image: linear-gradient(to bottom, blue, red, yellow, green);
  color: black;
  opacity: 0.95;
  border-radius: 10px;
  padding: 10px 30px;
}